#btn1 {
  position: relative;
  left: 430px;
  bottom: 770px;
}

#btn2 {
  position: relative;
  left: 360px;
  bottom: 625px;
}

#btn3 {
  position: relative;
  left: 340px;
  bottom: 540px;
}

#btn4 {
  position: relative;
  left: 245px;
  bottom: 390px;
}

#btn5 {
  position: relative;
  left: 275px;
  bottom: 185px;
}

#btn6 {
  position: relative;
  left: 280px;
  bottom: 310px;
}

#btn7 {
  position: relative;
  left: 130px;
  bottom: 410px;
}